*.pyc
__pycache__/
.venv/
.venv_old/
project/.venv/
project/.venv_old/
project/project/.venv/
project/project/.venv_old/
backend/.venv/
frontend/.venv/
.streamlit/secrets.toml
frontend/.streamlit/secrets.toml
backend/node_modules/
frontend/node_modules/
